* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

html {
    font-family: sans-serif;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

#web-app {
    height: 100vh;
    // border: 1px solid red;
    background-color: #06131f;
    position: relative;

    #web-app-top {
        height: 10%;
        // border: 1px solid green;
        display: flex;
        align-items: center;

        .container {

            .logo {
                width: fit-content;
                aspect-ratio: 1;
    
                > img {
                    width: 50px;
                    aspect-ratio: 1;
                }
            }
        }

    }

    #web-app-bottom {
        height: 90%;
        // border: 1px solid salmon;
        background-color: #1c2d3c;
        display: flex;
        overflow: auto;
        padding-block: 2rem;
        
        > .container {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            // border: 1px solid blue;
            height: fit-content;
            
            .card {
                flex-basis: calc(100% / 3 - (4rem / 3));
                // height: calc(50% - 2rem);
                // border: 1px solid lime;
                background-color: #102030;
                border-radius: 10px;
                cursor: pointer;

                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                color: white;

                padding: 1rem;

                .disc-cover {
                    // border: 1px solid pink;
                    width: 80%;
                }

                .year {
                    font-weight: bold;
                }

                
            }
        }
    }

    #overlay {
        height: 95vh;
        width: 95vw;
        background-color: rgba(16, 32, 49, 0.9);
        // display: none;
        justify-content: center;
        align-items: center;
        border-radius: 12px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .card {
            flex-basis: calc(100% / 3);
            // background-color: #102030;
            border-radius: 10px;
            cursor: pointer;

            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            color: white;

            padding: 1rem;

            .disc-cover {
                // border: 1px solid pink;
                width: 60%;
            }

            .year {
                font-weight: bold;
            }
        }

        > span {
            border: 1px solid white;
            border-radius: 50%;
            color: white;
            width: 30px;
            aspect-ratio: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 2rem;
            right: 2rem;
            cursor: pointer;
        }
    }
}

